{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="main-content-wrapper">
    <main class="main-content">
        <div class="container-fluid">
            <h1>RegSNPs Tools Experiment Output</h1>
            <div class="card">
                <div class="card-header">
                    Vizualization
                </div>
                <div class="card-body">
		    <select id="urlVal" style="visibility:hidden;">
	    		<option value={{outputFilePath}} selected>Select genome </option>
		  </select>
		<table id="resultTable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
		  <thead>
		      <tr>
		           <th>chr</th>
			    <th>pos</th>
			    <th>ref</th>
			    <th>alt</th>
			    <th>disease prob</th>
			    <th>FDR</th>
			    <th>transcript</th>
			    <th>ON/OFF splicing site</th>
			    <th>upstream intron length</th>
			    <th>exon length</th>
			    <th>downstream intron length</th>
			    <th>proximity acceptor site</th>
			    <th>proximity donor site</th>
			    <th>conservation</th>
			    <th>acceptor_site strength</th>
			    <th>donor_site strength</th>
			    <th>junction score change</th>
			    <th>PTM</th>
			    <th>Pfam</th>
		      </tr>
		  </thead>
		</table>
		<div id="svgHolder" ></div>
        </div>
            
            <!-- Adding a list of "Hello" greetings
            <div class="card">
                <div class="card-header">
                    Run "echo" for different languages
                </div>
                <div class="card-body">
                    <select id="greeting-select"></select>
                    <button id="run-button" class="btn btn-primary">Run</button>
                </div>
            </div>
            -->

            
            <div class="card">
                <div class="card-header">
                    Experiments
                </div>
                <div class="card-body">
                    <button id="refresh-button" class="btn btn-secondary">Refresh</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Application</th>
                                <th scope="col">Creation Time</th>
                                <th scope="col">Status</th>
                                <th scope="col">Output</th>
                            </tr>
                        </thead>
                        <tbody id="experiment-list">
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </main>
</div>
{% endblock content %}

{% block css %}
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
  {% endblock %}
  
{% block scripts %}
<script src="{% static 'django_airavata_api/dist/airavata-api.js' %}"></script>


  <script src = "http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer ></script>
  <script src="https://www.biodalliance.org/release-0.13/dalliance-compiled.js" defer></script>
  <!--for IRNEO-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js" ></script>
  <script src="../../static/js/datatable.js" data-my_var_1="{{request}}"></script>
  
  <script type="text/javascript"> 
   var a="{{request}}";
   console.log('a');
   console.log(a.split("==")[1]);
</script>

<script>
    
    const { models, services, session, utils } = AiravataAPI;
    
    

    const appInterfaceId = "Echo_23d67491-1bef-47bd-a0f5-faf069e09773";

    function loadExperiments() {
        return services.ExperimentSearchService.list({
            limit: 5,
            [models.ExperimentSearchFields.USER_NAME.name]:
                session.Session.username,
            [models.ExperimentSearchFields.APPLICATION_ID.name]: appInterfaceId
        }).then(data => {
            $("#experiment-list").empty();
            data.results.forEach((exp, index) => {
                $("#experiment-list").append(
                    `<tr>
                            <td>${exp.name}</td>
                            <td>${exp.executionId}</td>
                            <td>${exp.creationTime}</td>
                            <td>${exp.experimentStatus.name}</td>
                            <td id="output_${index}"></td>
                        </tr>`
                );
                // If experiment has finished, load full details, then parse the stdout file
                /* Displaying the experiment output
                if (exp.experimentStatus === models.ExperimentState.COMPLETED) {
                    services.FullExperimentService.retrieve({
                        lookup: exp.experimentId
                    })
                        .then(fullDetails => {
                            const stdoutDataProductId = fullDetails.experiment.experimentOutputs.find(
                                o => o.name === "Echo-STDOUT"
                            ).value;
                            const stdoutDataProduct = fullDetails.outputDataProducts.find(
                                dp => dp.productUri === stdoutDataProductId
                            );
                            if (
                                stdoutDataProduct &&
                                stdoutDataProduct.downloadURL
                            ) {
                                return fetch(stdoutDataProduct.downloadURL, {
                                    credentials: "same-origin"
                                }).then(result => result.text());
                            }
                        })
                        .then(text => {
                            $(`#output_${index}`).text(text);
                        });
                }
                */
            });
        });
    }

    loadExperiments();
    $("#refresh-button").click(loadExperiments);

    

</script>

{% endblock scripts %}
