{% extends './base.html' %}
{% block content %}
<!--<p>hello</p>-->
<br></br>
<br></br>
<div class="card" style="margin-left: 20%; height:95%; overflow: auto">
<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
<div id='myPltTable'><!-- Plotly chart will be drawn inside this DIV --></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/danfojs@0.2.4/lib/bundle.min.js"></script>


<script>




function CSVToArray(strData, strDelimiter) {
    // Check to see if the delimiter is defined. If not,
    // then default to comma.
    strDelimiter = (strDelimiter || ",");
    // Create a regular expression to parse the CSV values.
    var objPattern = new RegExp((
    // Delimiters.
    "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +
    // Quoted fields.
    "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +
    // Standard fields.
    "([^\"\\" + strDelimiter + "\\r\\n]*))"), "gi");
    // Create an array to hold our data. Give the array
    // a default empty first row.
    var arrData = [[]];
    // Create an array to hold our individual pattern
    // matching groups.
    var arrMatches = null;
    // Keep looping over the regular expression matches
    // until we can no longer find a match.
    while (arrMatches = objPattern.exec(strData)) {
        // Get the delimiter that was found.
        var strMatchedDelimiter = arrMatches[1];
        // Check to see if the given delimiter has a length
        // (is not the start of string) and if it matches
        // field delimiter. If id does not, then we know
        // that this delimiter is a row delimiter.
        if (strMatchedDelimiter.length && (strMatchedDelimiter != strDelimiter)) {
            // Since we have reached a new row of data,
            // add an empty row to our data array.
            arrData.push([]);
        }
        // Now that we have our delimiter out of the way,
        // let's check to see which kind of value we
        // captured (quoted or unquoted).
        if (arrMatches[2]) {
            // We found a quoted value. When we capture
            // this value, unescape any double quotes.
            var strMatchedValue = arrMatches[2].replace(
            new RegExp("\"\"", "g"), "\"");
        } else {
            // We found a non-quoted value.
            var strMatchedValue = arrMatches[3];
        }
        // Now that we have our value string, let's add
        // it to the data array.
        arrData[arrData.length - 1].push(strMatchedValue);
    }
    // Return the parsed data.
    return (arrData);
}




function CSV2JSON(csv) {
    var array = CSVToArray(csv);
    var objArray = [];
    for (var i = 1; i < array.length; i++) {
        objArray[i - 1] = {};
        for (var k = 0; k < array[0].length && k < array[i].length; k++) {
            var key = array[0][k];
            objArray[i - 1][key] = array[i][k]
        }
    }
    return (array);
}

function transpose(a) {

  // Calculate the width and height of the Array
  var w = a.length || 0;
  var h = a[0] instanceof Array ? a[0].length : 0;

  // In case it is a zero matrix, no transpose routine needed.
  if(h === 0 || w === 0) { return []; }

  /**
   * @var {Number} i Counter
   * @var {Number} j Counter
   * @var {Array} t Transposed data is stored in this array.
   */
  var i, j, t = [];

  // Loop through every item in the outer array (height)
  for(i=0; i<h; i++) {

    // Insert a new row (array)
    t[i] = [];

    // Loop through every item per item in outer array (width)
    for(j=0; j<w; j++) {

      // Save transposed data.
      t[i][j] = a[j][i];
    }
  }

  return t;
}


function numInstance(arr) {
  var a = [],
    b = [],
    prev;

  arr.sort();
  for (var i = 0; i < arr.length; i++) {
    if (arr[i] !== prev) {
      a.push(arr[i]);
      b.push(1);
    } else {
      b[b.length - 1]++;
    }
    prev = arr[i];
  }

  return [a, b];
}


dfd.read_csv("https://jkaefer.github.io/cdns/introndata.csv")
            .then(df => {

                //do something like display descriptive statistics
                console.log(df);
                
                
            }).catch(err => {
                console.log(err);
            })


 
$.ajax({
	    url: 'https://jkaefer.github.io/cdns/introndata.csv',
	    method: 'GET',
	    //datatype: 'json',
	    
	    
       	    //console.log(data_file);
            //console.log(data_file);
	    success: function (data) {
	    	console.log('rawout',data);
	    	var output=CSV2JSON(data);
	   
function makeTrace(i) {
    if (i==output[0].indexOf('Prob')){
    return {
    	type: 'scatter',
    	title: 'Probabilities by entry',
        x: Array(output.length-1).keys(),
        y: transpose(output.slice(1,output.length))[i],
        line: { 
            shape: 'spline' ,
            color: 'red'
        },
        visible: i === 0,
       
      

    }
   }
  else if(i==output[0].indexOf('Chrom')){
    return {
        type: 'bar',
        title: 'Chromosome Distribution',
        
        x:numInstance(transpose(output.slice(1,output.length))[i])[0],
        y:numInstance(transpose(output.slice(1,output.length))[i])[1],
        line: { 
            shape: 'spline' ,
            color: 'blue'
        },
        visible: i === 0,
      
      

    }
  }
  else if(i==output[0].indexOf('Email')){
    return {
        type: 'bar',
        title: 'Users',
        x:numInstance(transpose(output.slice(1,output.length))[output[0].indexOf('Email')])[0],
        y:numInstance(transpose(output.slice(1,output.length))[output[0].indexOf('Email')])[1],
        line: { 
            shape: 'spline' ,
            color: 'green'
        },
        visible: i === 0,
        
      

    }
  }
}
console.log('json',output);         
            
var myPlot= document.getElementById('myDiv');

//Plotly.newPlot('myDiv', data, layout);


Plotly.newPlot('myDiv', [output[0].indexOf('Prob'), output[0].indexOf('Chrom'), output[0].indexOf('Email')].map(makeTrace), {
    updatemenus: [{
        
        
        yanchor: 'top',
        buttons: [{
            method: 'restyle',
            args: ['visible', [true, false, false]],
            label: 'Probabilities'
        }, {
            method: 'restyle',
            args: ['visible', [false, true, false]],
            label: 'Chromosomes'
        }, {
            method: 'restyle',
            args: ['visible', [false, false, true]],
            label: 'Users'
        }]
    }],
});


var data = [{
  type: 'table',
  header: {
    values: output[0],
    align: "center",
    line: {width: 1, color: 'black'},
    fill: {color: "grey"},
    font: {family: "Arial", size: 12, color: "white"}
  },
  cells: {
    values: transpose(output.slice(1,output.length)),
    align: "center",
    line: {color: "black", width: 1},
    font: {family: "Arial", size: 11, color: ["black"]}
  }
}]

Plotly.newPlot('myPltTable', data);

//CLICK EVENTS FOR PLOT TO UPDATE TABLE

myPlot.on('plotly_click', function(data){
    console.log(data);
    
    var newData=[];
    var curveNumber=data.points[0].curveNumber;
    for (i=1;i<output.length;i++){
    	//probability curve
    	if(curveNumber==0){
    		if(output[i].includes(data.points[0].y)){
    			newData.push(output[i]);
    		}
    	}
    	else if(curveNumber==1){
    		if(output[i].includes(data.points[0].x)){
    			newData.push(output[i]);
    		}
    	}
    	else if(curveNumber==2){
    		if(output[i].includes(data.points[0].x)){
    			newData.push(output[i]);
    		}
    	}
    }
    
    var data = [{
	  type: 'table',
	  header: {
	    values: output[0],
	    align: "center",
	    line: {width: 1, color: 'black'},
	    fill: {color: "grey"},
	    font: {family: "Arial", size: 12, color: "white"}
	  },
	  cells: {
	    values: transpose(newData.slice(0,newData.length)),
	    align: "center",
	    line: {color: "black", width: 1},
	    font: {family: "Arial", size: 11, color: ["black"]}
	  }
	}]
    //document.getElementById("myPltTable").setAttribute('data',data);
    //Plotly.redraw('myPltTable');
    Plotly.newPlot('myPltTable', data);

    
    /*var pts = '';
    for(var i=0; i < data.points.length; i++){
        pts = 'x = '+data.points[i].x +'\ny = '+
            data.points[i].y.toPrecision(4) + '\n\n';
    }
    alert('Closest point clicked:\n\n'+pts);*/
});





}
	    });

</script>


{% endblock content %}


